<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<ul>
    <li><a href="/user/signin">Sign In</a> </li>
    <li><a href="/user/signup">Sign Up</a> </li>
    <li><a href="/pages/guest">Guest Page</a> </li>
    <li><a href="/pages/premium">Premium Page</a> </li>
    <li><a href="/pages/profile">Profile Page</a> </li>
</ul>

</body>
</html>