<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>SIGN IN</h1>

<form action="/user/signin" method="post">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" value="SIGN IN">
</form>
</body>
</html>